.App {
  font-family: "Lexend";
  background-color: #f1f1f1;
  width: "-webkit-fill-available";
  min-height: 100vh;
}

.hide-scroll-bar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}
